n8n automation Work Flow.json
{
  "name": "Nathan's Work Flow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "76ced413-ac21-47a7-9cc5-d10412a31b1e",
      "name": "Trigger Manually"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/company-warehouse",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-assessment-id",
              "value": "1186290e33e7d4975ae194ddd849a182"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "df793717-1c0f-4475-a97b-53efae1b1329",
      "name": "GetDataFromWarehouse",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wt4dBHW4ol4rCa4x",
          "name": "n8n Quickstart Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "XsYA6lQV1Aqb1aI3",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "/projects/6ZDpowglDqqMq7UM/datatables/XsYA6lQV1Aqb1aI3"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "orderID",
              "keyValue": "={{ $json.orderID }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        800,
        -48
      ],
      "id": "27415d87-a470-40c2-99a4-d60686c6ecef",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1cdd1e84-73ea-4379-a328-e2c180052dc5",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "03eb052d-9744-4596-a567-b895df79ad5a",
      "name": "CheckOrderStatus"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b79973b-fcf3-42f4-a25e-bebe21e62aad",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "896ce326-1458-42cb-9b92-42b637f23ff6",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -64
      ],
      "id": "dc89e0d1-1f24-4d34-8894-209ee5633d67",
      "name": "SetProcessingData"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        144
      ],
      "id": "e59614c3-9243-4b80-b931-6c822ed9cb8f",
      "name": "CalculateBookedOrders"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json.totalBooked}} booked orders with a total value of {{$json.bookedSum.round(2)}}. My Assessment ID: {{ $('GetDataFromWarehouse').params.headerParameters.parameters[0].value }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        880,
        144
      ],
      "id": "1b7c9a71-c85a-40b6-8dda-b4f972776b1e",
      "name": "Discord",
      "webhookId": "4f79752f-6c90-4c2a-ae1d-92387fdf0446",
      "credentials": {
        "discordWebhookApi": {
          "id": "17CY7I4dpf3mIhZR",
          "name": "n8n Quickstart S1 Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -160
      ],
      "id": "1cc6dd01-c55f-424f-9320-01dd6c5d8ce9",
      "name": "TriggerMondays9am"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger Manually": {
      "main": [
        [
          {
            "node": "GetDataFromWarehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetDataFromWarehouse": {
      "main": [
        [
          {
            "node": "CheckOrderStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckOrderStatus": {
      "main": [
        [
          {
            "node": "SetProcessingData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CalculateBookedOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetProcessingData": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculateBookedOrders": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TriggerMondays9am": {
      "main": [
        [
          {
            "node": "GetDataFromWarehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3a432d5b-4078-4f35-800b-f7392c153cc6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea58d4c31a11940665d2b53a1d4f68f59acb3f0a3616f62cbec34918ad7ef11d"
  },
  "nodeGroups": [],
  "id": "QPtXZtEzimiXlzur",
  "tags": []
}